# LAB 1 & 2

---

In [4]:
# list 

fruits = ['apple', 'banana', 'cherry']
print(fruits)
fruits.append('orange')
print(fruits)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'orange']

In [6]:
# Dictionary 

student = {
    'name' : 'Huzaifa', 
    'age' : 23,
    'profession' : 'Software Engineer'
}
student['dob'] = '3rd oct 2001'
print(student)

{'name': 'Huzaifa', 'age': 23, 'profession': 'Software Engineer', 'dob': '3rd oct 2001'}

In [9]:
# write in file

f = open('data.txt', 'w')
f.write(str(student))
f.close()

print('data write successful')

data write successful

In [14]:
# read from file 
f = open('data.txt', 'r')
data = f.read()
print(data)
print(type(data))

{'name': 'Huzaifa', 'age': 23, 'profession': 'Software Engineer', 'dob': '3rd oct 2001'}
<class 'str'>

In [15]:
# convert read data of file to dictionary again 
import ast

updated_data = ast.literal_eval(data)

print(data)

{'name': 'Huzaifa', 'age': 23, 'profession': 'Software Engineer', 'dob': '3rd oct 2001'}

conclution: we cannot use json.loads() because the data contains the single quotes to surround keys which is not json standard.

---

## Student Practice Tasks

In [ ]:
# list of 5 cities 
cities = ['Islamabad', 'Lahore', 'Karachi', 'Peshawar', 'Sialkot']

# add one city
cities.append('Multan')
print(cities)

# remove city 
cities.remove('Karachi')
print(cities)

['Islamabad', 'Lahore', 'Karachi', 'Peshawar', 'Sialkot', 'Multan']
['Islamabad', 'Lahore', 'Peshawar', 'Sialkot', 'Multan']

----

In [20]:
import pandas as pd

# create record of 3 students 
data = {
    'names' : ['Ali', 'Huzaifa', 'Aliza'],
    'class' : ['6th', 'graduated', '12th'],
}

# create dataframe from simple dict
data_frame = pd.DataFrame(data)

# store data to csv 
data_frame.to_csv('std-data.csv', index=False)
print('Data stored in a csv file')

Data stored in a csv file

In [21]:
# read data from csv file
read_data = pd.read_csv('std-data.csv')
print(read_data)

     names      class
0      Ali        6th
1  Huzaifa  graduated
2    Aliza       12th

---